html, body {
    margin: 0;
    padding: 0;
    font-family: "open sans";
}

.locations {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    min-height: 100px;
    padding: 10px;
}

.locations .item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.locations .item:last-child {
    border: 0;
}

.locations .item:hover {
    background: #f2f2f2;
}

.locations .item:active {
    background: #ddd;
}